body{
    font-family: Arial, Helvetica, sans-serif; 
    background-color: white;
    width: 100%;
    margin: 0;
}
.logo{
    width: 12vw;
    height: auto;
    border-radius: 25px;
}

*{
    text-decoration: none;
    list-style: none;
}
.title{
    background-color: #ffffff73;
    width: 111%;
    margin: 0px 0px 0px -1.5rem;
    border-radius: 10px;
    font-weight: bold;
    font-size: 2.1rem;
}
.card1 h2{
    margin: 3px 0px 4px -1rem;
    background: #ffffff59;
    border-radius: 10px;
    width: 100%;
}
h3{
    background: #ffffff59;
    border-radius: 10px;
    width: 100%;
}
nav{
    background-color: #bebebe;
    width: 100%;
    display: inline-flex;
    height: 50px;
    border: solid #bebebe;
    border-radius: 0px 0px 20px 20px;
}
a{
    color: #ffffff;
    text-shadow: 2px 2px 5px #000000;

}
.tabla h2{
    margin: 0.7rem 0px 0.7rem 7rem;
    font-weight: 700;

}

nav ul{
    display: inline-flex;
    justify-content: right;
    margin: 0px 1rem 0px 0px;
    padding: 0;
    width: 100%;
    height: 100%;
}

nav ul li{
    display: inline-flex;
    justify-content: right;
}

nav ul li a{
    color: #ffffff;
    /*border-radius: 20px;
    border: 1px solid white*/;
    padding: 3px 5px 5px 5px;
    font-size: 15px;
    margin: 10px 0px 0px 0px;
}

nav ul li:hover{
    background-color: #1cb9c8;
    transition: .5s;
}

.active{
    background-color: #1cb9c8;
}
.tiptab{
    display: none;
}
#check{
    display: none;
}
.checkbtn{
    font-size: 30px;
    color: #1cb9c8;
    float: left;
    line-height: 50px;
    cursor: pointer;
    display: none;

}
footer{
    height: 30vh;
    background-color: #000000;
    z-index: 10000;
}
i{
    padding: 0 5px;
}


.card1{
    position: sticky;
    border-radius: 20px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.233);
    background-image: url(styles/images/escalera-469x563.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: stretch;
    top: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 100;
}
.card1 button{
    margin-left: 5%;
    background-color: #1cb9c8;
    width: 100%;
    border: 2px #7e7e7e solid;
    border-radius: 20px;
    font-size: 17px;
    padding: 7px;
    box-shadow: #000000 2px 2px 4px;
    
}
.card1 .bot{
    display: inline-flex;
}
#bot:hover{
    cursor: pointer;
    transform: scale(1,1);
}
.card2{
    position: sticky;
    border-radius: 20px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: stretch;
    top: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 200;
}
.card2 img{
    /*margin-top: 50%;*/
    opacity: .7;
}
.text{
    margin: 3% 10% 3% 9%;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: #ffffff 2px 2px 3px;
}

.card3 input{
    border: 2px solid rgb(119, 118, 118);
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    width: 50%;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    text-shadow: #000000 1px 1px 2px;
}

.tabla{
    position: sticky;
    border-radius: 20px;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    display: block;
    align-items: stretch;
    top: 0;
    flex-wrap: wrap;
    z-index: 300;    
    font-family: 'Times New Roman', Times, serif;
}
.foto img{
    width: 100%;
    height: 23vh;
    border-radius: 15px;
}
.card3{
    position: sticky;
    border-radius: 20px;
    width: 100vw;
    height: 100vh;
    background-color: #cac6c6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    display: inline-flex;
    align-items: stretch;
    top: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 400;    
}
.card4{
    position: sticky;
    border-radius: 20px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(148, 148, 148);
    background-image: url(styles/images/camiseta-682x1000.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: stretch;
    top: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 500;    
}
.card5{
    position: sticky;
    border-radius: 20px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(70, 21, 21);
    background-image: url(styles/images/children-around-the-world-70B-500x1000.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: stretch;
    top: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 600;    
}
.card6{
    position: sticky;
    width: 100vw;
    border-radius: 20px 20px 0px 0px;
    height: 15vh;
    background-color: rgb(32, 32, 32);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: stretch;
    top: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 600;    
}

.redes img{
    padding: 0.7rem;
    border-radius: 100px;
    width: 18vw;
    height: auto;

}
.card5 h3{
    background-color: rgba(255, 255, 255, 0) !important;
}
.card5 .text{
    background-color: #ffffff8c;
    text-shadow: none;
    margin: 0rem ;
    width: 95%;
    justify-content: center;
    margin-left: 3vw;
    margin-top: 1rem;
    border-radius: 10px;
}
.card4 .text{
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    color: #ffffff;
}
.mytabs{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    order: 0;
    
}
.mytabs label{
    padding: 10px;
    font-weight: 999;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-shadow: #0000006b 1px 1px 1px;
}
.mytabs .container{
    width: 100%;
    padding: 0;
    order: 1;
}
.etiqueta{
    width: 35%;
    top: 0;
    background-color: tan;
    display: block;
    border: 2px solid #b7112d;
    border-radius: 0px 20px 0px 20px;
    padding-left: 0.6rem ;
    font-size: 15px;
    color: black;
    font-weight: bold;

}
.card3 h1{
    margin-left: 40vw;
}
form textarea{
    margin-left: 3vw;
    border-radius: 10px;
    background-color: #d8d8d842;
    width: 90%;
}
form input[type="submit"]{
margin-left: 5vw;
}
form input{
    box-shadow: #000000 2px 2px 5px;
    background-color: #cecece3d;
    color: #000000;
    font-size: 10px;
}
.mytabs .container{
    display: none;
}

.mytabs input[type="radio"]{
    display: none;
}
.mytabs input[type="radio"]:checked + label + .container{
    display: block;
    background-image: url(styles/images/wave4-500x1000.jpg);
    background-color: #95e3f7;
    height: 100%;
    border-bottom: 2px solid gray;
    border-radius: 10px;
    color: black;
}
.mytabs input[type="radio"]:checked + label{
    background-image: url(styles/images/wave4-500x1000.jpg);
    background-color: #95e3f7;
    border-radius: 10px;
    margin-bottom: -1rem;
    box-shadow: #000000 2px 2px 5px;
    color: #ffffff;
}
@media (max-width:600px){
    .checkbtn{
        display: block;
        border-radius: 10px;
        justify-content: left;
        float: left;    
        background-color: white;
        margin-right: 65%;
        opacity: 1;
        
    }
    nav{
        position: sticky;
        width: 100%;
        display: inline-flex;
        justify-content: center;
        z-index: 1000;
    }
    nav ul{
        opacity: 1;
        border-radius: 20px;
        left: -600px;
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(104, 104, 104, 0.932);
        top: 55px;
        text-align: center;
        transition: all .5s;
        justify-items: stretch;
        justify-content: center;
    }
    nav a{
        justify-content: right;
        float: right;
    }

    nav ul li{
        display: flex;
        margin: 0px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: space-around;
        align-items: stretch;
        transition: all .5s;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, .active{
        background: none;
        color: #1cb9c8;
    }

    #check:checked ~ ul{
        left:0px;
    }
    .navbar{
        z-index: 100000;
    }
    .intro{
        margin-top: 50px;
    }

}