.card{
    position: sticky;
    border-radius: 20px;
    width: 100vw;
    height: 100vh;
    background-image: url(images/parallax-creo-600x400.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: stretch;
    top: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 100;
}
.texto{
    display: block;
    margin: 1rem 0.5rem 1rem 1rem !important;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 255, 0.582);
}
img{
    width: 45%;
    margin-left: 2px;
}
.fond{
    background-color: aliceblue;
}